[2015-11-15 13:08] okpatil4u opened #1 "Framework"
Good old bootstrap 3, angularjs and jquery. Does anyone have suggestions ?

[2015-11-15 13:11] okpatil4u opened #2 "Structure"
Ideally it should include centre as well as state election promises as well.
We are going to need elections promises either as leaflet images or urls to confirm.
More on this later.

[2015-11-15 13:13] srinarasi opened #3 "Slack team"
I created a slack team for the project as it's a much better tool for collaboration.
I named it Indian Promise Tracker as thought it conveys the intent more accurately.
https://indianpromisetracker.slack.com

Use this link to join: https://iptuserbot.herokuapp.com/

[2015-11-15 13:19] srinarasi commented on #1
Whatever helps us get off the ground quickly. I'm ok with any technology. I think the most of our effort should be spent in presenting the information in a way which is easily understandable to the user and maintaining the community.

[2015-11-15 13:36] okpatil4u commented on #1
That makes sense. I am thinking on storing and retrieving data as simple json files rather than database. It would make our life easier.

[2015-11-15 13:37] xero08 commented on #3
Count me in if appropriate. I can contribute with the front end and anything with PHP at backend.

[2015-11-15 13:41] okpatil4u commented on #3
Front end sounds good @anuvab1911. We won't be making it dynamic, I guess. Static site makes sense. We would be showing information stored in json files. That should get us started. If we need, we can add more functionalities later. What do you think @srinarasi  ?

[2015-11-15 13:43] okpatil4u commented on #3
@srinarasi, it seems you need to send invite for this project on slack. Let's make these discussions public on github for now. We can go for slack anytime later.

[2015-11-15 13:57] wasim117 commented on #3
Invite me

[2015-11-15 14:09] greyhound291 commented on #2
So this is the BJP election manifesto: http://www.bjp.org/images/pdf_2014/full_manifesto_english_07.04.2014.pdf

As a non coder, I wanted to know if there would be any way I could help...

[2015-11-15 14:15] avinassh commented on #3
@okpatil4u @srinarasi you can use [Slackipy](https://github.com/avinassh/slackipy) if you want to automate the invite process. I am the author, let me know if you need any help.

[2015-11-15 14:16] okpatil4u commented on #2
Yeah sure, we are going to need all those manifestos, and status updates on them, with news or assembly resolutions etc. Can you work on this ?

[2015-11-15 14:17] itsprdp commented on #3
+1 Full Stack dev here

[2015-11-15 14:22] okpatil4u commented on #3
Yay, @avinassh is here, are you going to make us rockstars as well ? ;-)
Can you start a heroku dyno with slackpy ? You could co-ordinate with @srinarasi for this one.

[2015-11-15 14:23] greyhound291 commented on #2
So I found this too: https://aapdelhidiary.wordpress.com/

They are doing a pretty good job of keeping track of the delhi govt. You think we can use their data as dummy data and design a website around it?

And yes, I will start working on that too

[2015-11-15 14:26] avinassh commented on #3
ha ha.

I need a slack admin API key to create a dyne on Heroku. Its better you or @srinarasi creates it.

[2015-11-15 14:26] okpatil4u commented on #2
This is thorough. We can do that. But we should get structure of the website fixed first. Centre should come first, followed by states.

We need all election promises and related material first. Let's start digging.

[2015-11-15 14:29] okpatil4u commented on #3
@srinarasi, can you pm @avinassh the api key ? Or @avinassh, would it be better if you create and maintain it yourself ?

[2015-11-15 14:31] avinassh commented on #3
sure, I don't mind. Give me an API key created by an admin user, not owner. @srinarasi has to create a new user, give him admin privileges and generate an API key.

[2015-11-15 14:33] avinassh opened #4 "License of BJP Manifesto"
I am not sure we can add BJP Manifesto to the repo. What is the license of that document?

[2015-11-15 14:33] ndarville commented on #1
Consider using YAML for the datastore instead—and use GitHub Pages’s built-in Jekyll to loop over it (cc #5). It's very readable for non-technical people who want to contribute. Jekyll reads YAML just as well as JSON. You can always move on to another framework, if you want the site to do more.

Here’s an example from a project of mine:
- [YAML](https://github.com/hafniatimes/hafniatimes.github.io

[2015-11-15 14:33] avinassh commented on #1
Or we can ask [these guys](https://www.trudeaumetre.ca/about) for source code.

[2015-11-15 14:36] kjaggu commented on #4
I don't think we should have an issue with that. It is a public document. If there is an issue, we can give a direct link to their website from [here](http://www.bjp.org/manifesto2014).

[2015-11-15 14:37] greyhound291 commented on #1
That's what I was wondering.. Maybe try talking to someone who has already done it before.. @avinassh

[2015-11-15 14:39] kjaggu commented on #3
I would like to contribute from a content point of view, which includes creating content for the front-end, editing, etc. Can also help in finalising the look for the front-end. A friend and I have discussed the development in detail in the past, and we would be keen to share and get your views on the process of tracking.

[2015-11-15 14:40] anirudhvarma12 commented on #3
I would also like to contribute. Can do front-end work. HTML+CSS but a bit of JS too.

[2015-11-15 14:41] kjaggu commented on #2
In my opinion, let us focus on getting the BJP manifesto tracked for starters. Once we have a core team in place to monitor the development, we can branch out phase wise. Let us have a phase-wise development rather than a website with many manifestos and no tracking. We can identify people for each State who will be responsible for the task when they go live.

[2015-11-15 14:43] kjaggu commented on #1
Great idea. Why reinvent the wheel? We can obviously give them due credit. Moreover, we can share with them our additions for future development.

[2015-11-15 14:44] okpatil4u commented on #1
@avinassh we can always do that, but developing a small informative site should not take too long. @ndarville that makes. @avinassh can you update the links at reddit. It's https://github.com/reddit-india/indianelectionmeter.github.io now.

[2015-11-15 14:46] okpatil4u commented on #3
@kjaggu can you co-ordinate with @greyhound291 for content generation. Please create a seperate thread for each one.

[2015-11-15 14:51] avinassh commented on #4
Thats not how it works. If a document does not come with license or copyright notice, then it does not mean we have rights to distribute.

[2015-11-15 14:52] kjaggu commented on #3
@okpatil4u Thanks. I am new to Github. By a seperate thread, do you mean a new 'issue'?

[2015-11-15 14:52] avinassh commented on #3
@kjaggu yes

[2015-11-15 14:53] avinassh commented on #1
Links of?

[2015-11-15 14:54] okpatil4u commented on #4
@avinassh adding links would not make sense, they can always delete the source, adding document will give it validity. Let's not worry about it right now, they seem to public documents for time being.

[2015-11-15 14:55] okpatil4u commented on #1
@avinassh links at the reddit post. @greyhound291 has updated them. Wrong tag.

[2015-11-15 14:55] code-haven commented on #3
Fullstack developer here - I would like to be a part of this :+1:

[2015-11-15 14:58] greyhound291 opened #5 "Data format"
How do you devs want the data?

I was starting to go through the BJP manifesto right now, maybe just make a list of promises that can be followed up on later by anyone interested in contributing..

Is excel going to be fine? Google Sheets? or is there anything else you devs have in mind that might be noob friendly and easier to incorporate into the website?

[2015-11-15 14:58] kjaggu commented on #4
@avinassh What I meant was the document is supposed to be in the public domain. We are not going to redistribute the document for commercial purposes. Moreover, the document is going to be a reference point. The various promises will have to be broken down into sections and sub-sections. I am opening a new thread detailing the content plan.

[2015-11-15 15:04] avinassh commented on #4
Why are you calling it `public document`? Is it because since it is available on Internet or have they released it under Public Domain?

It doesn't matter, whether you use it for commercial purposes or not.

[2015-11-15 15:05] okpatil4u commented on #5
I don't think that google sheets or excel could work that easily. We are going to need yaml or json format to get started. They are simple file formats. You can use text editors like sublime-text to get started with them.

Also you have to learn git versioning. Here is a simple tutorial.
https://try.github.io/levels/1/challenges/1

You fork the repository. Clone forked repository on your computer.

[2015-11-15 15:07] avinassh commented on #5
@okpatil4u I would suggest a Google Form to take input. It can be easily exported to JSON.

[2015-11-15 15:08] okpatil4u commented on #4
@avinassh I agree, but we will have to build it on something. These manifesto make solid foundation. Do you have any alternative solution ?

[2015-11-15 15:09] kjaggu opened #6 "BJP Manifesto - Content Plan"
To begin with, we need to identify what kind of content is going to be available on our website. Who will update the promise development and completion, etc.

For starters, we can refer to the [BJP manifesto highlights](http://www.bjp.org/images/jpg_2014/manifesto_summary_17.04.2014.pdf) for listing out the various promises.

Some points to consider:
*We need to figure out how are we going to cons

[2015-11-15 15:10] okpatil4u commented on #5
Google form can be edited online if it's a public document. We can track changes better if it's a written and committed document by a known user. Short term google forms would work, but for long term we have to track and validate changes. That is going to be headache.

[2015-11-15 15:11] avinassh commented on #4
Yes :)
1. Give link to original document
2. Keep a local copy
3. Keep a copy on Dropbox ;)
4. Use https://archive.is

Basically do not distribute documents/code on which you do not have rights to do so, with this repo.

[2015-11-15 15:12] avinassh commented on #5
^I agree with those issues.

[2015-11-15 15:18] okpatil4u commented on #3
@code-haven welcome. We would be working on frontend and content generation for now.

[2015-11-15 15:26] greyhound291 commented on #6
For the sake of convenience, how about we assume that BJP manifesto as the source of promises that they have made. So we list them out, categorically, and that's that.

We can then figure out how we track them:

Some are either yes/no like tax reforms and what not.

Some are more detailed.. Like arms procurement that have a start/middle-working-phase/end that can be tracked using started/wip/compl

[2015-11-15 15:31] kjaggu commented on #6
That will be the broad idea. I will compile a list of the promises from the manifesto. We need to identify the categories and sub-categories for each one of them.

[2015-11-15 15:31] srinarasi commented on #3
I've automated the user registration. Please use this link to register. https://iptuserbot.herokuapp.com/

Thanks to @avinassh making the process a breeze. Excellent little utility.

[2015-11-15 15:32] kjaggu commented on #6
Moreover, we need to ensure that even for a Yes/No response, there is a relevant source for validation.

[2015-11-15 15:34] greyhound291 commented on #6
News websites and such should be valid enough.. right?

[2015-11-15 15:39] kjaggu commented on #6
Yes. But, there are times when the news are skewed. So, my suggestion is to have 2 or 3 verified sources from 'reputed' outlets.

[2015-11-15 15:41] greyhound291 opened #7 "Web Domain and Hosting"
I know a company based in delhi that provides hosting solutions.. Our personal company website is hosted with them and he is very cheap when compared to options like godaddy and the works. If anyone is interested i can share the details here, or anywhere else, and maybe someone with a technical background can follow up with him

[2015-11-15 15:42] okpatil4u commented on #6
That makes sense. As mentioned in another thread, we will need to archive those links as well.

[2015-11-15 15:42] srinarasi commented on #5
To be successful, I feel that people who don't know anything technical should be able to contribute. I don't think only programmers can keep the data upto date or verify all the changes. Can't we use Google Forms and still be able to do version control and validation? We can automate all of these right?

[2015-11-15 15:46] kjaggu commented on #5
I agree. Ideally, a basic CMS should be helpful for non-technical users like me.

[2015-11-15 15:46] srinarasi commented on #2
I agree with @kjaggu. Let's start with the Center. It should be trivial to replicate it for the states as long as we have people tracking them.

[2015-11-15 15:53] avinassh commented on #5
or we will use MediaWiki, what do you guys think?

[2015-11-15 16:04] okpatil4u commented on #7
I have bought indianelectionmeter.in. I will redirect the traffic at indianelectionmeter.github.io. So we can start with this. We can discuss other options later on. What do you say ?

[2015-11-15 16:05] greyhound291 commented on #7
cool so thats sorted then

[2015-11-15 16:05] #7 closed

[2015-11-15 16:12] okpatil4u commented on #5
I have started a simple Jekyll based on gh-pages branch. I have bought indianelectionmeter.in and redirected the traffic to indianelectionmeter.github.io.
You are right. We should start with google forms. We will migrate to code commits when we have definite structure.

[2015-11-15 16:18] okpatil4u commented on #1
Jekyll site is online at indianelectionmeter.in. So we have started something off.Jekyll site should be progress indicator for now.
Let's decide on frameworks quickly and get started with it on master branch.

[2015-11-15 16:20] avinassh commented on #1
Sent my first PR

btw you own the @redditatindia handle on Twitter?

[2015-11-15 16:23] ndarville commented on #1
@okpatil4u Just use `indianelectionmeter`, if you want it as a subsection of `reddit-india`. It’s currently at <https://reddit-india.github.io/indianelectionmeter.github.io/>.

[2015-11-15 16:24] greyhound291 commented on #1
@okpatil4u @avinassh I got a pm from this guy on reddit who claims the following :

I have asked him to come on over here but I dont think he has joined... if anyone thinks what he is doing/has done is useful, maybe we could track him down or soemthing

[2015-11-15 16:26] okpatil4u commented on #1
Yes. I have changed it to twitter.com/electionmeter. I saw that comment as well. I have told him to create a github repository and comment here. Let's see where it goes.

[2015-11-15 16:29] satyarth commented on #4
I agree with @avinassh. Link to the original document works fine, and if we're worried about it being altered could post a hash of the version we're referring to.

[2015-11-15 16:38] okpatil4u commented on #4
I agree as well, closing off this issue.

[2015-11-15 16:38] #4 closed

[2015-11-15 16:55] okpatil4u commented on #4
@avinassh archive.is is not uploading big files. We will use archive.org. People have already archived all these documents way back when they were uploaded.

[2015-11-15 16:57] gitrraoind commented on #2
I am an AAP member/volunteer. I was quite inspired by the canadian PM tracking stuff  and therefore I created a structure in Excel based on the AAP Delhi Manifesto. I will clean it up a bit in another 15 minutes and share it. May be we can use it as a base to create a structure or atleast get some ideas.

[2015-11-15 16:59] okpatil4u commented on #2
@gitrraoind. Thank you. Maybe you could help us with Delhi state promise tracker. Can you take it on ?

[2015-11-15 17:00] okpatil4u opened #9 "Content Writer"
Comment on this issue if you want to contribute as content writers. We will set up guidelines very soon.

Join the discussion at https://iptuserbot.herokuapp.com/ at #contentwriters

[2015-11-15 17:03] okpatil4u opened #10 "Programmer"
Comment on this issue to contribute as programmer. Please mention your expertise as well. We will be posting guidelines very soon.

Join here https://iptuserbot.herokuapp.com/ at #programmers channel

[2015-11-15 17:08] okpatil4u commented on #6
@kjaggu @greyhound291 you can use archive.org to add and archive links. Can you start with this google spreadsheet https://docs.google.com/spreadsheets/d/18Xv94E8kqP6JxeFgfBsQetMaT5wPzY4U8Wqui7J8ua4/edit?usp=sharing
We can decide on other contributing strategies very soon.

[2015-11-15 17:16] gitrraoind commented on #2
PFA the sheet. Please go through all the worksheets in the attachment.

Yes, I would love to collect the AAP Delhi data, if that is what you mean. However, it will be from public domain / News or AAP sources. I need ideas on how to make sure to have them verified!

[Progress Tracker v1.1.xlsx](https://github.com/reddit-india/indianelectionmeter.github.io/files/34917/Progress.Tracker.v1.1.xlsx)

[2015-11-15 17:19] kritinvij commented on #3
Hey! I am here. Seems nice to see you guys make so much progress from the initial post & discussion that we made!
Can you invite me for Slack at kritinv@uw.edu

[2015-11-15 17:20] greyhound291 commented on #3
Use this @kritinvij  : https://iptuserbot.herokuapp.com/

[2015-11-15 17:29] lunaroyster commented on #9
Definitely interested at the prospect of creating unique and engaging content.

It would be a pleasure to collaborate on a project with other highly skilled individuals to bring government accountability to the table in a country where impotent office holders often deceive voters by frequently engaging in misinformation, spreading falsehoods and by operating against the very force that accorded th

[2015-11-15 17:36] okpatil4u commented on #9
@lunaroyster lol, welcome

[2015-11-15 17:38] kritinvij commented on #3
Thanks greyhound!

[2015-11-15 17:44] srinarasi commented on #10
I use C++ at work but know JS/HTML/CSS pretty well and a bit of Python too. But I have never worked on any complex website. Whatever I have done has only been seen by a few hundred people. So I'm open to do any kind of work.

[2015-11-15 17:47] okpatil4u commented on #10
@srinarasi you are already in the team.

[2015-11-15 17:47] spookyskeleton commented on #10
I'll be able to contribute to the frontend - HTML/CSS/JS and design.

[2015-11-15 17:48] bogas04 commented on #10
I would love to contribute ! I'm good with JavaScript (Frontend & NodeJS) & HTML5 and I think for now we can start with a `status.md` file as follows

[code]

on the github's page itself. The backend would simply [parse it](https://github.com/markdown-it/markdown-it) and use maybe ReactJS to get those nice filters for the list. Further we can use highcharts, knobjs etc to give fancy charts and stu

[2015-11-15 17:51] balajiramani commented on #10
I am interested.
I can do backend stuff with Django/Python, Java/Spring-Boot, AWS. I am not very proficient with frontend technologies.

[2015-11-15 17:55] okpatil4u commented on #10
@bogas04 good suggestion. Changed readme.md. @balajiramani we are going need your expertise in backend when we start scaling it up. Welcome to the team.

[2015-11-15 17:59] bogas04 commented on #10
@okpatil4u Oh, I meant that we can use such a `status.md` for a government to parse it to JSON or something & view it on a fancy website. All the work would be to generate `status.md`s for each state and center (markdown is easier to maintain and very readable by non programmers), and the frontend can simply display charts and lists with filters around it.

[2015-11-15 18:00] ndarville commented on #10
I can help out with front-end stuff—also most of your Jekyll needs, I imagine.

Let me know if you ever need any automated linting and stuff like that as well, as I’ve got [some experience](https://github.com/ndarville/style) with that. [LintHub](https://linthub.io/) is a really easy tool here.

[2015-11-15 18:05] kjaggu commented on #9
Count me in.

---

Not to decide is to decide.

On Sun, Nov 15, 2015 at 11:06 PM, Omkar Patil notifications@github.com
wrote:

[2015-11-15 18:05] greyhound291 commented on #9
Content writer checking in!

[2015-11-15 18:05] gattu94 commented on #10
Know the basics of front end, can code in python, java, work on ruby on rails, django frame works, and mongodb

[2015-11-15 18:06] gattu94 commented on #9
I can write too!!

[2015-11-15 18:06] okpatil4u commented on #10
@bogas04 we are running jekyll site at indianelectionmeter.in, you can see it's code on gh-pages. We are using markdown to write down each post. @ndarville should be able to help us with better formatting of jekyll site. We are still deciding the frameworks etc. You can join our discussion at https://iptuserbot.herokuapp.com.

[2015-11-15 18:50] amangupta53 commented on #2
What's the current status for the dynamic website?

[2015-11-15 19:15] ghdna commented on #2
Count me in. Know extensive web development - FE and BE.

[2015-11-15 19:32] ashwin47 commented on #10
I can help.
Rails/CSS/JS

[2015-11-15 19:46] saurabhsjoshi commented on #10
I can make an Android app if required.

[2015-11-15 20:27] ndarville commented on #1
Alright, I whipped up a VERY quick example of what you can do with Jekyll and basic YAML without any of all the usual crap, drawing on the Canadian example:
- Source: https://github.com/ndarville/goal-tracker/tree/gh-pages
- Demo: https://ndarville.github.io/goal-tracker/

I used skeleton.css as the CSS (framework).

This has been done purely in Liquid templating using the [YAML files](https://git

[2015-11-15 22:49] mishravikas commented on #10
Hey! I would love to contribute to this. I have a pretty good experience in back end and can code in Python/Ruby/PHP and have worked on js frameworks like angularjs and jquery while working for Mozilla.

[2015-11-16 00:38] nini1294 commented on #10
I'm pretty good with both frontend and backend stuff. Ruby/Rails/Sinatra and the normal HTML/JS

[2015-11-16 02:38] greyhound291 commented on #1
Great work guys!

Don't want to be telling you guys how to do your job, but just keep in mind that there are three types of "promises" we might be dealing with:
1. Some are either yes/no like tax reforms and what not.
2. Some are more detailed.. Like arms procurement, or government tenders, or auctioning of PSUs; that have a start/middle-working-phase/end that (but cannot be quantified by percenta

[2015-11-16 02:47] okpatil4u commented on #10
@ashwin47 @mishravikas @nini1294 welcome guys. Please join the slack programmer channel.

[2015-11-16 04:12] ktn00b commented on #2
I am learning Web Dev, so I wouldnt be able to contribute directly unless there is a lack of volunteers and you are willing to go for someone who is learning+doing.

I can help with collating data, and my idea of an excel sheet for this is the following columns-

PromiseReferenceId;Promise;Promisee;LocationOfMakingPromise;Status-(UnderConsideration;U-Turn;Active;Fulfilled)

Each promise should lin

[2015-11-16 04:14] greyhound291 commented on #2
@IndDev Check out the slack channel and join in on the data collection.. work on that has already started.

Slack channel: https://indianpromisetracker.slack.com
Get an invite: https://iptuserbot.herokuapp.com/

[2015-11-16 04:21] tvamsisai opened #13 "Was working one something similar"
Hello!
I was working on something similar last year. Hope you can get something out of it.

[Avarld - You opinion for a better tomorrow](http://beta.avarld.org/)
Thanks!

[2015-11-16 04:28] kartikanand commented on #10
Hi! I can help with Python and JS and little bit of Sass and bootstrap!

[2015-11-16 04:56] okpatil4u commented on #10
@kartikanand join the slack channel, welcome to the team

[2015-11-16 04:59] okpatil4u commented on #13
@tvamsisai that's a good idea. Can you help us with frontend design ideas and content generation ? You seem to have mind for it !!

[2015-11-16 05:05] karansachdeva86 commented on #10
Hi, I am good with Java, Spring, Hibernate frameworks (more than 5 years ex). I have already joined Slack programmer channel.

[2015-11-16 05:11] okpatil4u commented on #10
Thanks @karansachdeva86.

[2015-11-16 05:11] rajnetgen commented on #10
Hi,

I have 5 years of experience in web development, PHP, HTML/CSS

[2015-11-16 05:21] sarcasticprani commented on #9
Count me in! Can't code but can work on data collection,analysis and content creation!!

[2015-11-16 05:25] okpatil4u commented on #9
@sarcasticprani we need animals like you. Can you join slack, and visit the govtofindia channel ? We need to form basic documents to get started with. Link is posted in comment above.

[2015-11-16 05:44] rahulkapoor90 commented on #10
I am well versed with web development technologies @okpatil4u  would love to contribute to this repository.

[2015-11-16 05:47] okpatil4u commented on #10
@rajnetgen, @rahulkapoor90 welcome. Fork this repository, and get started.

[2015-11-16 06:11] dharmang commented on #10
I have 7.5+ years of experience in web development.
My key skills are PHP, MySQL, HTML, CSS, JavaScript, jQuery.
I have also worked with PHP frameworks like Zend Framework 1.X branch, WordPress.
I would be obliged if selected in team.

[2015-11-16 06:19] okpatil4u commented on #10
@dharmang welcome dharmang. Please join slack programmer channel. Also fork this repo and get started.

[2015-11-16 07:33] #13 closed

[2015-11-16 07:36] PCMR-FSNG commented on #10
@okpatil4u : hey there... Java & Javascript dev reporting in

[2015-11-16 08:31] okpatil4u commented on #10
@PCMR-FSNG welcome. Join the slack channel.

[2015-11-16 09:19] jimaldon commented on #10
Backend dev (JSPs etc)

[2015-11-16 09:23] jimaldon commented on #1
Regarding decisions regarding data presentation, we can take a lot of cues from the canadian version of the website, https://www.trudeaumetre.ca/.

imo, it's pretty easy to understand even if you''re not canadian and/or a political layman.

[2015-11-16 10:41] okpatil4u commented on #1
@jimdsouza  That makes sense.

[2015-11-16 12:54] okpatil4u commented on #10
@jimdsouza you are already in.

[2015-11-16 15:03] mr-karan commented on #10
I would like to contribute as well. Can help with front-end stuff (HTML,CSS,JS) and know Python as well.

[2015-11-16 15:06] ndarville opened #18 "Comment system"
- [ ] Requires the creation of a page for each promise (#20)
- [x] Decide on provider

[2015-11-16 15:07] ndarville opened #19 "HTTPS"
Could be done with CloudFlare’s free tier.

- [ ] Find provider
- [ ] Enable HSTS
    - [ ] Register site in [HSTS preload record][]

[HSTS preload record]: https://hstspreload.appspot.com/

[2015-11-16 15:07] okpatil4u opened #20 "Detailed pages per promises"

[2015-11-16 15:09] wasim117 commented on #19
also cloudflare will handle large spike in traffic

[2015-11-16 15:09] okpatil4u opened #21 "Central & State Govt's Tracker"
Both central and state governments should be tracked

[2015-11-16 15:10] okpatil4u opened #22 "Color coded, category wise promises"

[2015-11-16 15:10] okpatil4u opened #23 "Timeline of delivery of promises"

[2015-11-16 15:10] okpatil4u opened #24 "Tweet/Fb politicians automatically reminding the promises"
How do we decide the deadline of the promise ?

[2015-11-16 15:11] okpatil4u opened #25 "Easy submission process for content generators"

[2015-11-16 15:11] wasim117 opened #26 "New google account ?"
Do we need to new google account to manage
Analytics
Mails
or other google services ?

[2015-11-16 15:11] ndarville commented on #24
Depends on the kind of promise. Promises of an economic nature could be tied to fiscal quarters for instance.

[2015-11-16 15:12] itsprdp opened #27 "Color coded, category wise promises"

[2015-11-16 15:15] itsprdp opened #28 "Votes on each bill"

[2015-11-16 15:16] itsprdp commented on #19
+1 for Cloudflare. Lot's of addons and free stuff

[2015-11-16 15:17] Arkanayan commented on #24
Or maybe we can tweet after a certain time ( every 1-2 years ) reminding them of their promise.

[2015-11-16 15:17] #27 closed

[2015-11-16 15:18] sandeepzgk opened #29 "IPT : Password Management"
Process for managing Passwords and sharing them among administrators.

[2015-11-16 15:18] itsprdp commented on #27
dup #22

[2015-11-16 15:20] okpatil4u opened #30 "Promises needs to be by category"

[2015-11-16 15:21] okpatil4u opened #31 "Factual validation"

[2015-11-16 15:21] okpatil4u opened #32 "For promises without a definite "done" status have graphs to see the progress of issues/problems being reported / tackled."

[2015-11-16 15:21] ndarville commented on #24
Going by promise anniversaries (be it 1, 2, 3, etc) isn’t a bad idea, if we can pin a date on them.

[2015-11-16 15:29] sandeepzgk opened #33 "UI Design"
A designer to cohesively design and implement a core UI for the website with appropriate branding

[2015-11-16 15:31] okpatil4u opened #34 "User logins"
For content submission

[2015-11-16 15:32] ndarville commented on #18
## Candidates
- Disqus
- [Civil](https://www.civilcomments.com/)
- Custom made

[2015-11-16 15:32] ndarville commented on #33
Any particular mock-up tool worth using here?

[2015-11-16 15:34] okpatil4u commented on #18
Let's go for discuss. It's already discussed. (not intended)

[2015-11-16 15:35] sandeepzgk commented on #33
anything would work, including powerpoint. the key is to be simple, consistent and then evolve

[2015-11-16 15:37] sandeepzgk commented on #19
+1 cloudflare as it can minimise the attack vector on the website too. and a CDN .. that is amazing stuff right there

[2015-11-16 15:54] itsprdp opened #35 "Content Generator"
Data collection made easy. Once we have the data in the DB we can always export it to CSV, JSON, YAML or whatever possible format.

I was thinking to scaffold the application with Rails and host it on heroku for now. We need to come up with the required fields in the form.

[2015-11-16 15:54] itsprdp commented on #34
Oauth

[2015-11-16 16:08] ndarville commented on #31
Perhaps each promise needs a field like "what would it take for this issue to be broken or achieved?".

[2015-11-16 16:10] ndarville commented on #21
Can we split this up into an issue about Central + State govs? We can rename this to one of either and create a second one. Then we can fold the Central gov issue into `v0.1`. Depending on whether you consider Central=Modi or all parties.

[2015-11-16 18:09] vipCodeError commented on #10
I m ready to contribute

[2015-11-17 02:10] okpatil4u commented on #10
@123vipulj welcome, join the slack channel

[2015-11-17 03:30] greyhound291 opened #38 "Logo Design and Ideas"
As the title says!

Any logo design  ideas you might have for the website, please share!

[2015-11-17 03:33] satyarth commented on #35
@okpatil4u is working on this ATM, let's see what he comes up with.

[2015-11-17 03:41] satyarth commented on #25
Duplicate #35, discussion happening there so closing this.

[2015-11-17 03:41] #25 closed

[2015-11-17 03:44] greyhound291 commented on #33
Any suggestions on the colour scheme of the website will do!

I was thinking a light grey background (Hex: D1CCC0) or even something lighter; with a dark black (Hex: 121110) foreground for the main title bar and side bar...

It will look good if we have colour coded categories for the promises, it will look very dull if we dont go ahead with the colour coded promises

[2015-11-17 03:53] satyarth commented on #28
@itsprdp could you describe this a bit more?

[2015-11-17 03:58] satyarth commented on #30
Covered in #22

[2015-11-17 03:58] #30 closed

[2015-11-17 03:59] greyhound291 commented on #26
I've set one up .ghound2901@gmail.com

[2015-11-17 04:00] greyhound291 commented on #26
I'll give the password to a couple of admins ... So that if anyone needs permissions and one of us is not available, the work does not stop.. Is that fine?

[2015-11-17 04:06] okpatil4u opened #39 "Creating tagline for the site"
This is the current tagline. We need a new one.

[2015-11-17 04:07] satyarth commented on #20
Here's what I'm thinking we need for detailed pages:
- Clearly stated promise
- Reference to where the promise was made (link + backup)
- Current status
- Status updates (when there's major development on a promise)
- Public comments

Thoughts?

[2015-11-17 04:09] satyarth commented on #39
"Holding our leaders accountable for their promises"? Short and sweet.

[2015-11-17 04:35] greyhound291 commented on #26
https://drive.google.com/folderview?id=0B_DARWg9SEb5NDBmZEhBSVdlQVE&usp=sharing

Please use the dropbox folder to access the documents and make new ones. Anyone having problems with permissions, please PM me to ghound2901@gmail.com .
If someone makes a new file, make sure its in that folder and that folder alone. Also, please check for duplicates before making new docs.

Thanks!

[2015-11-17 05:16] railgaadi commented on #33
UI/UX and visual designer here. Can help out with the same. I use Sketch for wireframing and design and upload it to Zeplin for specs and slices. I pick up and tweak colour schemes from here: http://www.colorhunt.co/

[2015-11-17 05:41] kritinvij commented on #33
We should maintain documents related to css colors and their purpose. If we
can move to using less instead of css, then we can just use the variable
names for color coding. Instead of background:#7f7f7f, we could be doing
background: @back-color
and have all those colors be maintained in one global file. What do you
guys think?

Kritin Vij
University of Washington
Computer Science | Math Minor
*kr

[2015-11-17 05:42] okpatil4u commented on #33
@railgaadi welcome to the team, @greyhound291 can you coordinate with @railgaadi to work on it ? Also join our slack channel #designers .

[2015-11-17 07:01] greyhound291 commented on #39
indianelectionmeter.in: "Accountability through/via/supported by/backed by data"

We can use another word instead of "through"

[2015-11-17 07:09] greyhound291 commented on #20
Public comments can be in v2 imo

[2015-11-17 07:09] greyhound291 commented on #20
Rest everything sounds good!

[2015-11-17 07:15] greyhound291 commented on #31
A lot of promises are specific enough that the goals are clear.

Some vague issues like "fighting corruption" or "easier to do business" need to be researched a bit and there I'm sure there are international organizations that measure those numbers!

[2015-11-17 08:55] kritinvij commented on #20
Also, add num votes received in parliament for/against the bill...? for version2

[2015-11-17 08:57] kritinvij opened #40 "Create new issues from Core Design document and add them here"
Does anybody have dev cycles to add the ideas from this document here so we can track them?
https://docs.google.com/document/d/1-ssmhjBiexsWd70PpVtzFIeWHClgBNZ7UDMi3uTapXs/edit

[2015-11-17 09:03] davistom opened #41 "Categories and Subcategories"
About 15 categories will be good.

Currently I've the following based on [BJP full manifesto](https://docs.google.com/spreadsheets/d/1cFQwHs3AgyPv69K4xUuIAt-RuvyYwVz6Szz0VmnVAW8/edit#gid=0):

 * . Agriculture
 * . Business
 * . Corruption
  * a. Black Money
  * b. Reforms
 * . Economy
  * a. Price Rise
 * . Education
 * . Employment
 * . Empowerment
  * a. Children
  * b. Minorities
  * c. Senior

[2015-11-17 09:05] greyhound291 commented on #41
Railways and Highways? Under infrastructure?

[2015-11-17 09:06] satyarth commented on #40
Forgot this doc existed, thanks. Since the majority of things here has to do with detailed promise pages, might be best to just link it in #20 and let the discussion happen there?

[2015-11-17 09:07] kritinvij commented on #41
Initially someone had categories as listed as follows..
Can you check if all of them are present?
Administration
Agriculture
Corruption
Defense
Economy
Energy
Environment
Healthcare
Human Resource Development
Industry
Infrastructure
Internet & Telecommunications
Railways
Social Justice
Tourism
Women Empowerment
YouthEducation
Law/Judicial
Manufacturing

[2015-11-17 09:11] kritinvij commented on #40
Well, this more defines the UX control and how exactly things will work on the website.
We shouldn't put this under just the 'promise page details'. That is definitely the main objective and hence it feels like both are linked. But, this is the control flow of the page.

We should keep this issue open. Linking the document there will also do us good to enhance discussion

[2015-11-17 09:13] kritinvij commented on #26
When greyhound above says dropbox folder, he/she means the gdrive folder as linked.

Can someone close this issue?

[2015-11-17 09:14] #26 closed

[2015-11-17 09:29] okpatil4u commented on #39
It should be simpler. Easy to understand. I am going with @satyarth 's suggestion for now, will change when need.

[2015-11-17 09:52] greyhound291 opened #42 "Tracking sources, means"
What are the common sources that can be used for tracking?
Like twitter accounts, some journalists that cover specific issues, or some magazines/sections in news papers etc. Basically, any trustworthy regular source of information?

Also, what are the tools available to us to track promises? Google alerts, and/or data scrapers?

[2015-11-17 09:58] kritinvij opened #43 "List of all twitter accounts of ministries and politicians/ministers"
We need to create this list

[2015-11-17 10:02] kritinvij commented on #43
closing because of duplication

[2015-11-17 10:02] #43 closed

[2015-11-17 10:04] kritinvij commented on #42
1. Create a list of all twitter accounts of ministries and politicians/ministers (will also help us in tweeting to them to keep their promises)
2. mygov.in/digitialindia website posts updates
3. https://play.google.com/store/apps/details?id=in.mygov.mobile provides updates.

[2015-11-17 12:17] ndarville opened #44 "Licensing"
The `gh-pages` branch has both an MIT and Apache license in it.

I assume the idea is to make openly available data for everyone to use. The question that remains is what license we should use for

- [ ] The data
- [ ] The website source code

[2015-11-17 12:33] satyarth commented on #39
I like @greyhound291's suggestion too. Catchy!

[2015-11-17 12:53] okpatil4u commented on #44
What do you suggest ?

On Tue, Nov 17, 2015 at 10:17 PM Niclas Darville notifications@github.com
wrote:

[2015-11-17 13:15] okpatil4u commented on #18
Do we need this on 0.1 ? It was supposed to be on v2.

[2015-11-17 13:16] bogas04 opened #45 "Augment Table component to have `Remind` column, add same to showModal"
Based on https://github.com/reddit-india/indianelectionmeter.github.io/issues/24

* Update `rows` in `render` of `<Table />` Component to have `Remind` column which help user tweet/fb post the party's account about the same promise.
* Add same capabilities in the `showModal` function.

Very easy to do, shouldn't take much time.

[2015-11-17 13:16] bogas04 commented on #18
Discuss is much better, not everyone is on facebook.

[2015-11-17 13:17] bogas04 commented on #18
About the first part of the issue, we can get the modal to open based on hashtag in url for now.

[2015-11-17 13:36] satyarth commented on #6
Progress update: @davistom made an excel of the full BJP manifesto:
https://docs.google.com/spreadsheets/d/1uJHLsrWgvPG-3ARHQJMoCrxnbACFq6B0Klz8SPHREuk/

[2015-11-17 13:48] davistom opened #47 "FAQ"
**Programmmer**
Q: What technologies are using?
A: Front-end - react. Template for content generators - meteor
Q: I saw indiantracker.in, why are we not using it?
A: We can't because The person who made it using his own framework. He does not have the appropriate documentation for it and so it might be a problem at a later stage.

**Content Writer**
Q: I’m not a coder, how can I contribute?
A: You

[2015-11-17 14:08] ndarville commented on #44
The MIT License seems like the best bet for the source code:

![licenses](https://cloud.githubusercontent.com/assets/198682/11213571/f7601adc-8d3c-11e5-90cd-a220e4b560ad.PNG)
- http://choosealicense.com/licenses/

GPL is also an option, if you want to demand that people disclose their source—and don’t sublicense the code.

Copyrighting data from publicly available information is hard, but I mainly

[2015-11-17 14:10] greyhound291 opened #48 "Data scraper for scraping news websites"
It will be easier for us content people to sift through selected lists of news articles if we can wield the powers of data scrapers.

Would someone from the programming team like to help us make a data scraper that can:

1. Scrape news feeds of various news organizations for select keywords and just make a list of links with those keywords
2. Archive twitter feeds of politicans etc. into excel she

[2015-11-17 14:18] satyarth commented on #44
:+1: for MIT

[2015-11-17 14:29] itsprdp commented on #44
+1 for MIT

[2015-11-17 14:41] ghost commented on #44
:+1:  for GPL

[2015-11-17 17:00] okpatil4u opened #49 "Information on States"
Can anyone collect following data for all the states in India ?
- Name
- Ruling Party
- In Power Since
- Chief Minister
- Remaining Period

@satyarth Please assign it to @davistom or @greyhound291

[2015-11-17 17:17] greyhound291 commented on #49
@okpatil4u : https://docs.google.com/spreadsheets/d/10si9WR_lQKtgrVLCH8Uej7zvTe8oLF45zSgYZ_lkJJU/edit?usp=sharing

"Remaining period in office" I'll fill later. But you have something to work with today!

[2015-11-17 17:44] ndarville commented on #19
Was just taking a look at CDNs, and while [CloudFlare doesn’t even have any data centres in India](https://www.cloudflare.com/network-map/), [GitHub’s CDN has two](https://www.fastly.com/network). Might be worth doing some studying of which is the fastest for Indians.

[2015-11-17 18:25] satyarth commented on #49
Waiting on @greyhound291 to be added to the github org to formally 'assign' this issue.

[2015-11-17 19:00] satyarth commented on #18
Removing from 0.1 milestone based on Slack discussion.

[2015-11-18 02:25] okpatil4u commented on #49
@greyhound291 I need images as well, can you fill in the urls ?

[2015-11-18 02:57] greyhound291 commented on #49
Images of states? Or CMs?

[2015-11-18 03:01] okpatil4u commented on #49
CM's

[2015-11-18 06:39] okpatil4u opened #50 "Trimming down categories"
Currently we have 67 categories
[
	"Price Rise ",
	"Employment and Entrepreneurship ",
	"Corruption",
	"Black Money ",
	"Poor Delivery ",
	"Credibility Crisis ",
	"Decision and Policy Paralysis ",
	"Centre-State Relations ",
	"Northeast ",
	"Jammu and Kashmir ",
	"Decentralization and People's Participation ",
	"Open Government and Accountable Administration ",
	"E-Governance: Easy, Efficient and

[2015-11-18 07:42] greyhound291 commented on #50
Already an issue here: https://github.com/reddit-india/indianelectionmeter.github.io/issues/41

@davistom has trimmed them down to 15 broad categories and I think everything here can be put as sub categories under those

[2015-11-18 07:52] greyhound291 commented on #50
Why not try and work with them here and fit them into as little categories as possible?

https://docs.google.com/spreadsheets/d/1yK1KDcJsqINRueoX2Zkubmx2dheIlt1LogU6xjwwpTY/edit#gid=0

[2015-11-18 08:37] greyhound291 commented on #41
Please add/remove/sort categories and sub categories here:

https://docs.google.com/spreadsheets/d/1yK1KDcJsqINRueoX2Zkubmx2dheIlt1LogU6xjwwpTY/edit#gid=0

Also, try and stick to these categories while transcribing manifestos of state governments. That way, there will be uniformity across the website.

[2015-11-18 10:35] greyhound291 opened #51 "Need for having contributing guidelines for newcomers"
https://github.com/blog/1184-contributing-guidelines

This is supposed to explain the following:

1. How to get into the slack channel
2. How to use the docs
3. How to use the common document folders:
  - To use their email ID and not log in as anon. to enable tracking of changes
  - To NOT make new doc sheets on their own drive and share it on the folder
  - To MAKE All documents in the common fo

[2015-11-18 17:24] greyhound291 commented on #49
Doc is complete. Issue can be closed.

[2015-11-18 17:25] satyarth commented on #49
Thanks @greyhound291! Closing.

[2015-11-18 17:25] #49 closed

[2015-11-18 18:12] greyhound291 commented on #22
https://docs.google.com/spreadsheets/d/1yK1KDcJsqINRueoX2Zkubmx2dheIlt1LogU6xjwwpTY/edit#gid=1987903024

Colour codes to categories have been allotted but these are by no means final colours OR categories.
This is just to get the ball rolling.

Since the categories are crucial to the other docs, I have locked the sheet to prevent changes without discussions.

Please DM me your suggestions or put t

[2015-11-18 18:47] maximl337 commented on #10
I would love to contribute.

[2015-11-18 19:27] bogas04 opened #52 "Add comparisons of INR, Sensex and other economical parameters between previous and current government"
Need to query some API for the same and display results in the <App />, not hard to produce.

[2015-11-19 03:56] greyhound291 opened #53 "Headcount of content contributors!"
Please message here, or on slack if you are interested in contributing content to the website!

[2015-11-19 04:07] satyarth commented on #44
MIT seems favored, let's go with it for now. Changed in 3620eb1b5df5941595cb1d7c735d30179c8da068 .

[2015-11-19 04:07] #44 closed

[2015-11-19 04:09] satyarth commented on #39
Closing for now. Can update later pending further discussion.

[2015-11-19 04:09] #39 closed

[2015-11-19 04:31] satyarth commented on #51
Working on this.

[2015-11-19 04:46] satyarth commented on #20
Current version of the site has this as a popup; we need to:
- Have a system to assign unique IDs to each promise.
- Make separate pages for promises (so people can link to individual promises etc.).

[2015-11-19 04:50] satyarth commented on #47
Aiming to cover in the readme, closing issue.

[2015-11-19 04:50] #47 closed

[2015-11-19 05:20] satyarth commented on #51
Started this in b7e51cc9049d50867b52e87efb35950e4f77e2a4. I'm not too clear on how a content writer can get started ATM, @greyhound291 or @davistom could you handle that?

[2015-11-19 05:21] satyarth commented on #21
The current implementation of the website has this, closing.

[2015-11-19 05:21] #21 closed

[2015-11-19 05:41] okpatil4u opened #54 "Logging and change tracking system"
Something like wikipedia for fallback changes

[2015-11-19 05:44] okpatil4u commented on #20
+1
We will need to use https://atmospherejs.com/reactrouter/react-router. Does any one have better suggestion ?

[2015-11-19 08:16] PCMR-FSNG commented on #52
Why do we need a comparison mechanism for tracking of promises ?

[2015-11-19 08:33] kritinvij commented on #52
I think this would just help us keep track of how the current govt is doing as compared to the previous one. I vote this goes in v2/v3.

[2015-11-19 10:34] satyarth commented on #52
TBH, this seems like an entirely separate thing to tracking promises. Also, just comparing economic data like that doesn't really tell you much in my opinion.

[2015-11-19 10:35] satyarth commented on #54
Do you think this needs to be in v0,1?

[2015-11-19 10:37] okpatil4u commented on #54
Yeah, it's important

[2015-11-19 10:39] okpatil4u commented on #52
I agree with @satyarth, value of rupee is a strategic, have a look at china, they have been depreciating their currency for a while. But we could track other indices, like hdi or ease of doing business. This will prove useful.

[2015-11-19 11:08] srinarasi commented on #52
+1 to what @satyarth said. This project should be about tracking promises.

[2015-11-19 11:15] satyarth commented on #51
Updated in 307a68d8e3b7d0aec5a596c5c71a35095ae10a9c. Closing for now, feel free to comment if any updates are required.

[2015-11-19 11:15] #51 closed

[2015-11-19 11:39] okpatil4u commented on #51
@satyarth should we have it in readme.md ? I don't want them clicking another link

[2015-11-19 11:55] satyarth commented on #51
I think it makes sense to separate information that someone interested in the project would want to know from information specifically for contributors. Although theres not much in the readme ATM, that will change as we continue to grow and it would get harder to get an overview at a glance.

Can make the link to the contributing doc more prominent if that's a suitable compromise?

[2015-11-19 12:08] greyhound291 commented on #52
We could use the API's to track the vague promises like bring down coal imports, or increasing literacy rates etc.

Should I make a seperate issue for this?

[2015-11-19 12:34] greyhound291 commented on #41
@satyarth Can this issue be considered closed? If someone has anything they want to say, they can remake the issue.

[2015-11-19 12:39] greyhound291 commented on #33
As @railgaadi suggested, I have found the following colours from colourhunt that seem to be going well with each other

Saffron: #2B4450
White (ish): #497285
Green: #6DC995

**Final: http://www.colorhunt.co/c/9162**

Source:
http://www.colorhunt.co/c/8184 for saffron and white
http://www.colorhunt.co/c/8011 for green

I was also thinking, that the two other colours in http://www.colorhunt.co/c/818

[2015-11-19 13:07] bogas04 commented on #52
Yeah the project is about promises but you often find tweets comparing prices of petrol, INR, coal and what not between governments. Ultimate goal is to track the progress made by new government, this can help a tad bit more to see real life changes. INR itself is meaning less but other prices together make some sense.

[2015-11-19 16:04] bogas04 commented on #22
I would recommend adding these colors to data.json itself so that the frontend doesn't hard-code anything. Something like this would be sensible from redundancy point of view.

[code]

[2015-11-19 16:50] satyarth commented on #22
@bogas04 great suggestion.

[2015-11-19 18:28] satyarth commented on #41
@greyhound291 cool, closing for now.

[2015-11-19 18:28] #41 closed

[2015-11-19 19:12] #38 closed

[2015-11-19 19:14] greyhound291 opened #58 "Voting for Logo"
Right so its time to vote for your logo:

Option 1:
![Logo Without Pinnochio Nose](https://cloud.githubusercontent.com/assets/8953968/11281167/58111a6e-8f1f-11e5-9318-b59e5b61c93f.jpg)

Option 2:
![Logo With Pinnochio Nose](https://cloud.githubusercontent.com/assets/8953968/11281168/581c35e8-8f1f-11e5-8248-01db05aed9d8.jpg)

Option 3:
NOTA
I should try a new logo design.

Please vote first and the

[2015-11-19 19:17] satyarth commented on #58
:+1: for option 2.

[2015-11-19 20:23] bogas04 opened #59 "Modularize App.jsx, it's unmaintainable with so much of HTML in one component."

[2015-11-19 20:23] ghost commented on #58
:+1: for option 2.

[2015-11-19 20:24] bogas04 commented on #1
We've decided on Meteor + React + Bootstrap.

[2015-11-19 20:24] #1 closed

[2015-11-19 23:51] jimaldon commented on #58
NOTA

[2015-11-20 00:47] okpatil4u commented on #59
Makes sense. It's making site slow as well.

[2015-11-20 02:30] okpatil4u commented on #58
+1 option 2

[2015-11-20 02:48] okpatil4u opened #61 "Implementing CI"
Using travis-ci or circle-ci for bug free builds.

[2015-11-20 05:01] iAmMrinal0 commented on #19
@ndarville CloudFlare just introduced three new data centers in [New Delhi, Mumbai, and Chennai.](https://blog.cloudflare.com/cloudflare-launches-in-india-with-data-centers-in-mumbai-chennai-and-new-delhi/)

[2015-11-20 05:07] greyhound291 commented on #19
@iAmMrinal0 Welcome!
Have you joined the slack channel?

[2015-11-20 05:17] iAmMrinal0 commented on #19
@greyhound291 Just did.

[2015-11-20 06:24] jimaldon commented on #61
I have experience with jenkins, but not travis and circle.

[2015-11-20 06:33] okpatil4u commented on #61
Anything could work. How do you set it up ?
Can you write few basic tests ? I

[2015-11-20 08:12] ndarville commented on #19
@iAmMrinal0 Clearly they follow this project. :)

[2015-11-20 09:53] bogas04 commented on #58
:+1: option 2

[2015-11-21 10:00] ndarville commented on #61
I’ve got my own repo with custom rules and linters: https://github.com/ndarville/style. You can see an example of it in action at [another repo](https://github.com/hafniatimes/hafniatimes.github.io/blob/master/.travis.yml).

You’ll have to decide on the linter rules, if you don’t want to stick with the defaults.

[2015-11-21 18:32] vipCodeError commented on #58
option 2

[2015-11-22 01:43] thel3l commented on #61
This is easy enough.
First go to travis-ci.org  and link your github account ( the one which owns this repository).
Then enable the integration - screenshot attached. After this, anyone with push access can push the .Travis.yml file required for Travis to run - I'm willing to write a .Travis.yml file, but I'll need you to get set up the repo first.
![screenshot_2015-11-22-07-11-24](https://cloud.g

[2015-11-22 01:46] thel3l commented on #48
XD
This is _freaking_ easy. Assign to me please. I'll create a repo, and comment back on this issue with a link.

[2015-11-22 02:19] thel3l commented on #10
Et moi. Count me in.

[2015-11-22 04:21] greyhound291 commented on #48
Hahaha @thel3l sounds good!! :)

[2015-11-22 10:02] ndarville commented on #61
Also check out [LintHub](https://linthub.io/). Really easy to enable, and it lints your pull requests.

[2015-11-22 16:15] ndarville commented on #51
CONTRIBUTING.md is mainly to generate the info alert for when people submit issues and PRs.

[2015-11-23 05:53] davistom commented on #58
option 2

[2015-11-23 06:57] okpatil4u commented on #61
@ndarville @thel3l I am not looking for information. I am looking someone to take over this issue. Can any of you take it on ?

[2015-11-23 06:58] okpatil4u commented on #48
@thel3l, that's great.

[2015-11-23 06:59] okpatil4u commented on #10
@maximl337, welcome, join the slack channel and fork the repo. @thel3l, welcome, you will be helping with web scrapper, I guess. Thanks for your contribution, in advance.

[2015-11-23 14:06] thel3l commented on #61
Only the owner of this repo can set it up. None of us can.

[2015-11-23 17:07] jimaldon commented on #61
I can take it up after you set it up.

[2015-11-23 17:08] jimaldon commented on #53
here

[2015-11-24 02:47] okpatil4u commented on #61
Thanks @jimdsouza. Should it be travis-ci or circle-ci ?

[2015-11-24 02:56] jimaldon commented on #61
Whichever looks easily integrable. Since I'll have to do a lot of digging either way, I suggest you pick one with good documentation and a big community.

On 24 Nov 2015 10:47, at 10:47, Omkar Patil notifications@github.com wrote:

[2015-11-24 12:24] rraoind commented on #2
I have the list of AAP Delhi's manifesto promises ready and a fair amount of data on what has been achieved! I am new to github and don't know whom to connect with to have this info uploaded on the site. Any info is appreciated!

Also, could we show the 'Days in office' rather than the 'In Power Since' date? This will create a better perspective of the situation!

[2015-11-24 13:21] greyhound291 commented on #2
@rraoind first of all, welcome! :)

Secondly, can you dm me on slack? It's a messaging app that everyone here is using!

To join the slack channel, go here: https://indianpromisetracker.slack.com/
You will need an invite to join the channel, which you can get here: https://iptuserbot.herokuapp.com/

It's fairly easy. It wont take much time! And my username is @greyhound291 on slack

[2015-11-25 00:48] thel3l commented on #61
I'd choose Travis.

[2015-11-25 03:44] jimaldon commented on #61
Okay.
Since you started this repo, @okpatil4u, could you go here (https://docs.travis-ci.com/user/getting-started/)  and complete steps 1 and 2? And then add me as a contributor to this repo?

On 25 Nov 2015 08:48, at 08:48, the lel notifications@github.com wrote:

[2015-11-25 06:45] okpatil4u commented on #61
Done

[2015-11-25 11:10] ndarville commented on #61
What exactly is it you want to be checked?

I [tried my hand at it](https://travis-ci.org/ndarville/indianelectionmeter.github.io), and it looks like Meteor.js can’t be checked directly with Travis; you’ll have to write a test suite for it instead, from what I gather. You can just run a meteor instance, because it’ll time out and end the test suite.

Some other things to test and lint would be:
-

[2015-11-26 01:01] thel3l commented on #61
@ndarville I think it's possible. If @okpatil4u is done with the first two steps, then I'll try my hand at this.

[2015-11-26 13:41] okpatil4u commented on #61
@thel3l, yeah, I have completed first two steps, but @jimdsouza is taking over it. It won't make sense all of us working on this one. I will try to resolve most of content generator issues by this monday. Why don't you take care of web scraper ?

[2015-11-26 16:40] thel3l commented on #61
Ook. That's fine with me.

[2015-11-27 06:07] okpatil4u commented on #19
Ok people, I tried letsencrypt, and it works without any problem. I am thinking about using it rather than going for paid https certificates or half-encrypted cloudflare https. Have a look at it at https://letsencrypt.org, and let me know what do you think ?

PS : It's in public beta and will take a few months to be fully functional. We will get our content generators working by then.

[2015-12-01 05:58] okpatil4u commented on #19
Site is online with on https, with certificate from letsencrypt. Closing this issue.

[2015-12-01 05:58] #19 closed

[2015-12-01 05:59] okpatil4u commented on #10
We have contribution guidelines on this repo. Closing this issue.

[2015-12-01 05:59] #10 closed

[2015-12-01 05:59] okpatil4u commented on #9
We have contribution guidelines on this repo. Closing this issue.

[2015-12-01 05:59] #9 closed

[2015-12-01 06:01] okpatil4u commented on #5
Default data format is json now, closing this issue.

[2015-12-01 06:01] #5 closed

[2015-12-01 06:01] okpatil4u commented on #3
Slack forum is online, closing this issue.

[2015-12-01 06:01] #3 closed

[2015-12-01 08:59] okpatil4u commented on #18
Added disqus, waiting for it to be added in disqus whitelisting domains.

[2015-12-01 08:59] #18 closed

[2015-12-01 09:00] okpatil4u commented on #35
Content generator is online and functional

[2015-12-01 09:00] #35 closed

[2015-12-01 09:03] okpatil4u commented on #34
Added ssl, using username, password for login, will add twitter, google and facebook logins very soon

[2015-12-01 09:03] #34 closed

[2015-12-01 09:03] #50 closed

[2015-12-01 09:04] okpatil4u commented on #24
@satyarth, can your write python script for this one ?

[2015-12-01 09:04] okpatil4u commented on #48
@thel3l any progress ?

[2015-12-01 09:04] okpatil4u commented on #61
@jimdsouza any progress ?

[2015-12-01 09:05] okpatil4u commented on #59
@bogas04 do you want to take it on  ?

[2015-12-01 09:06] okpatil4u commented on #58
Finalizing logo 2, for now

[2015-12-01 09:07] jimaldon commented on #61
@okpatil4u In the thick of my exams this week. Plan to dive from Wednesday next week.

[2015-12-01 09:07] okpatil4u commented on #45
Not relevant in new design.

[2015-12-01 09:07] #45 closed

[2015-12-01 09:08] okpatil4u commented on #33
@railgaadi can you fork the repo and implement these color schemes and new logo. You can send a pull request when you are done.

[2015-12-01 09:09] okpatil4u commented on #42
@kritinvij, can you devise a strategy for this one ?

[2015-12-01 09:10] okpatil4u commented on #40
@satyarth @kritinvij any progress ?

[2015-12-01 09:11] okpatil4u commented on #20
Implemented routing, and disqus. We will add new description parameters as we go on.

[2015-12-01 09:11] #20 closed

[2015-12-01 09:13] okpatil4u commented on #61
Sounds good. I was also busy last week, finishing most of the tasks today.

[2015-12-01 09:15] okpatil4u commented on #2
Basic structure is fixed, let's move to specific issues of content generation and ui design now.

[2015-12-01 09:15] #2 closed

[2015-12-02 18:18] bogas04 commented on #59
sure !

[2015-12-05 06:58] thel3l commented on #48
XP
Sorry about the delay. I committed but didn't push my progress. Will complete before Sunday, December 6 2300 IST.

[2015-12-05 07:38] okpatil4u commented on #48
@thel3l no worries. Take your time.

[2015-12-05 18:21] bogas04 commented on #59
Man the code is really messy, I lose track too easily while scrolling. My exams are finally over, will spend a night with it and fix it once and for all!

[2015-12-06 06:00] okpatil4u commented on #59
Sounds good !!

[2015-12-20 04:30] thekindlyone commented on #48
you mean something that will archive actual tweets of politicians?

[2015-12-20 06:06] okpatil4u commented on #48
Something like that.

[2015-12-20 06:21] thekindlyone commented on #48
Can I have a list of twitter handles? I guess I can set something like that up.

[2015-12-20 12:00] okpatil4u commented on #48
Sure, create a spreadsheet and paste it's link here.

[2015-12-20 12:48] thel3l commented on #48
Exams. That's the only thing delaying me  @okpatil4u

[2015-12-20 13:07] okpatil4u commented on #48
@thel3l no worries man, everyone has got some work to do. I haven't worked for last couple of weeks. I will try to get things done in next week most probably.

[2015-12-20 17:00] captn3m0 opened #65 "DNS doesn't resolve"
http://indianelectionmeter.in/ seems to be down, because the DNS doesn't resolve.

[2015-12-20 18:11] thekindlyone commented on #48
@greyhound291
I wrote news link aggregator. outputs to csv. does ndtv and indianexpress. More sites to be added.
https://github.com/thekindlyone/newscraper

heres a sample generated csv: http://www.sharecsv.com/s/f1099dcb1eb261149f5e746cf7addb61/articles4.csv

[2015-12-23 07:38] greyhound291 opened #66 "Alternate method of tracking"
Percentage based tracking is proving to be difficult in a lot of cases. So instead, how about we have status based tracking?
We could allot status tags to the promise based on the following order

1. Not started
2. Bill Passed
3. Project Funded
4. Contract Awarded
5. Work started
6. Work Completed
7. Project Delayed
8  Project stalled

The above list a very basic list. We could expand/reduce the l

[2015-12-23 07:49] greyhound291 commented on #48
Looks good @thekindlyone !

Tho i might need some help to use it haha..

[2016-03-07 07:34] furfural opened #67 "Cannot start the project"
C:\Users\furfural\indianelectionmeter.github.io\meteor>meteor
[[[[[ C:\Users\furfural\indianelectionmeter.github.io\meteor ]]]]]
=> Started proxy.
=> Started MongoDB.
C:\Users\furfural\AppData\Local\.meteor\packages\meteor-tool\1.1.10\mt-os.windows
.x86_32\dev_bundle\lib\node_modules\fibers\future.js:278
                                                throw(ex);

[2016-03-07 07:48] #67 closed